---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';

import ProjectsJson from '../../../projects.json';

interface Thing {
    title: string
    body: string
    href: string
}

export async function getStaticPaths({ paginate }) {
  // Load your data with fetch(), Astro.glob(), etc.
  const things: Thing[] = ProjectsJson;

  // Return a paginated collection of paths for all posts
  return paginate(things, { pageSize: 5 });
}

// If set up correctly, The page prop now has everything that
// you need to render a single page (see next section).
const { page } = Astro.props;
---

<Layout title="my projects">
    <main>
        <h1 class="title">my projects</h1>

        <a class="link-as-button back-button" href="/">back to the homepage</a>

        <div class="link-card-grid">
        {page.data.map(pagedata => (
            <Card href={pagedata.href} title={pagedata.title} body={pagedata.body} />
        )
        )}
        </div>
        <p class="pages">
            Page {page.currentPage} / {page.lastPage}
        </p>
        <div class="buttons">
        <div class="button">
            {
                page.url.prev != undefined ? <a class="link-as-button" href={page.url.prev}>Previous</a> : ''
            }
        </div>
        <div class="button">
            {
                page.url.next != undefined ? <a class="link-as-button" href={page.url.next}>Next</a> : ''
            }
        </div>
        </div>
    </main>
</Layout>